@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F9FA;
    color: #212529;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}